.hotel {
  display: flex;
  margin-left: 32px;
}

.hotel__result {
  width: 568px;
}

.hotel__ico {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}

.hotel__info {
  display: flex;
  flex-direction: column;
}

.hotel__info-result {
  width: 480px;
}

.hotel__info-favor {
  width: 296px;
}

.hotel__top {
  display: flex;
  justify-content: space-between;
}

.hotel__bot {
  display: flex;
  justify-content: space-between;
}

.hotel__like {
  cursor: pointer;
  background-color: transparent;
}

.hotel__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
}

.hotel__date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}

.hotel__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  /* or 200% */

  letter-spacing: -0.408px;

  color: #878787;
}

.hotel__price {
  display: flex;
}

.hotel__cost {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.408px;
  color: #424242;
  margin-left: 8px;
}

.hotel__line-result {
  width: 568px;
  height: 1px;
  left: 0px;
  top: 517px;
  background: rgba(135, 135, 135, 0.2);
  border-radius: 8px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-left: 32px;
  margin-bottom: 36px;
}

.hotel__line-favor {
  width: 296px;
  height: 1px;
  background: rgba(135, 135, 135, 0.2);
  border-radius: 8px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-left: 32px;
  margin-bottom: 16px;
}
