@import "../../utils/scss-consts/size.scss";

.list-result {
  @include size(580px, 529px);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 3px;
}

@media screen and (min-width: 959px) {
  .list-result {
    width: 632px;
  }
}

.list-favor {
  @include size(352px, 288px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.list::-webkit-scrollbar {
  width: 2px;
  background: #E7E7E7;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #41522E;
  border-radius: 2px;
}

.list::-webkit-scrollbar-track {
  background-color: #E7E7E7;
  border-radius: 2px;
}
