@import "../../utils/scss-consts/font-base.scss";
@import "../../utils/scss-consts/size.scss";

.main {
  height: 1024px;
  background-color: #F4F4F4;
  margin: 0 auto;
}

@media screen and (min-width: 959px) {
  .main {
    width: 1441px;
  }
}

.roof {
  display: flex;
  justify-content: space-between;
}

.roof__text {
  @include font-base(24px, 28px, 500);
  display: flex;
  align-items: center;
  margin: 32px;
}

.roof__but {
  display: flex;
  justify-content: space-between;
  @include size(83px, 34px);
  padding: 0;
  align-items: center;
  margin: 30px 33px 0 0;
  border: 0;
  cursor: pointer;
  background-color: #F4F4F4;
}

.roof__title {
  @include font-base(16px, 20px, 400);
  text-align: right;
  letter-spacing: -0.408px;
  color: #41522E;
  margin: 0;
}
