@import "../../utils/scss-consts/font-base.scss";
@import "../../utils/scss-consts/size.scss";

.favor {
  display: flex;
  flex-direction: column;
  @include size(360px, 472px);
  background-color: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.favor__title {
  @include font-base(24px, 28px, 500);
  color: #424242;
  margin: 0 32px;
}

.favor_buttons {
  display: flex;
  flex-direction: row;
  margin: 32px 0 32px 32px;
}
