.calendar {
  position: absolute;
  width: 389px;
  height: 420px;
  border-radius: 8px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 208px;
  margin-bottom: 1px;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

.calendar__header {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  margin-bottom: 17px;
  padding-top: 25px;
}

.calendar__selects {
  display: flex;
}

.calendar__buttons {
  display: flex;
  margin-right: 28px;
}

.calendar__but {
  background-color: #FFFFFF;
  display: block;
  padding: 5px;
  border: 0;
  margin-left: 22px;
}

.calendar__arrow-up {
  transform: rotate(180deg);
}

.calendar__select-mon {
  background-color: #FFFFFF;
	-moz-appearance: none;
	-webkit-appearance: none;
  border: 0;
  padding: 0;
  margin-left: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.calendar__select-mon::-ms-expand {
	display: none;
}

.calendar__select-year {
  background-color: #FFFFFF;
  border: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.calendar__table {
  width: 360px;
  margin-left: 1px;
  margin-top: 1px;
}

.calendar__days {
  height: 233px;
}

.calendar header button,
.calendar header select {
    /*margin: 0 4px;*/
}

.calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
}

.calendar th {
    vertical-align: middle;
    text-align: center;
    height: 36px;
}

.calendar .day {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
}

.calendar .day:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.calendar .day.selected {
  background: #41522E;
  border: 2px solid #41522E;
  border-radius: 4px;
}

.calendar .day.today {
  background: #41522E;
  border: 2px solid #41522E;
  border-radius: 4px;
  color: white;
}

.calendar .day.today:hover {
    background-color: #0081ff;
}

.calendar .day.today.selected {
    border: 2px solid lightgray;
}
