.carusel {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 149px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
}

.carusel__img {
  margin-left: 10px;
  margin-right: 10px;
}

.carusel::-webkit-scrollbar {
  height: 0;
  background: transparent;
}
