@import "../../utils/scss-consts/size.scss";

.carusel {
  display: flex;
  justify-content: center;
  @include size(600px, 149px);
  margin: 0 auto;
  overflow-x: scroll;
}

.carusel__img {
  margin: 0 10px;
}

.carusel::-webkit-scrollbar {
  height: 0;
  background: transparent;
}
