.search {
  display: flex;
  width: 1048px;
  height: 906px;
  margin-left: 208px;
  justify-content: space-between;
}

.search__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
