.search {
  display: flex;
  height: 906px;
}

@media screen and (min-width: 959px) {
  .search {
    margin-left: 208px;
    width: 1048px;
    justify-content: space-between;
  }
}

.search__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
