@import "../../utils/scss-consts/font-base.scss";

.sort {
  display: flex;
  height: 28px;
  cursor: pointer;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  margin-right: 8px;
  background-color: #FFFFFF;
  color: #99A0A3;
}

.sort-choice {
  border: 1px solid #41522E;
  color: #41522E;
}

.sort__title {
  margin: 4px 0 4px 7px;
  @include font-base(14px, 20px, 500);
  letter-spacing: -0.408px;
}

.sort__imgs {
  display: flex;
  flex-direction: column;
  margin: 8px 12.5px 0 9px;
}

.sort__img-down {
  transform: rotate(180deg);
  opacity: 0.3;
}

.sort__img-up {
  opacity: 0.3;
}

.sort__img-opacity {
  opacity: 1;
}
