@import "../../utils/scss-consts/size.scss";
@import "../../utils/scss-consts/font-base.scss";

.auth {
  display: flex;
  @include size(1440px, 1024px);
  background: url('../../images/auth.png') no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

.auth__blur {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  @include size(1440px, 1024px);
}

.auth__panel {
  display: flex;
  flex-direction: column;
  @include size(409px, 382px);
  margin: 321px auto 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.auth__title {
  @include font-base(24px, 28px, 500);
  align-items: center;
  text-align: center;
  color: #424242;
  margin: 32px auto 0;
}

.auth__name-input {
  @include font-base(16px, 19px, 300);
  color: #424242;
  margin: 32px 0 0 32px;
}

.auth__name-input:nth-child(5) {
  margin-top: 12px;
}

.auth__input {
  background: #FFFFFF;
  border: 1px solid #C9CACC;
  box-sizing: border-box;
  border-radius: 4px;
  @include size(345px, 50px);
  margin: 7px 0 0 32px;
  padding: 15px;
  font-weight: 300;
}

.auth__enter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include size(345px, 50px);
  margin: 18px 0 0 32px;
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.auth__button-title {
  @include font-base(16px, 20px, 500);
  color: #FFFFFF;
}

.auth__error {
  height: 7px;
  font-weight: 300;
  color: red;
  font-size: 14px;
  opacity: 1;
  margin: 7px 0 0 32px;
}

.auth__enter-disabled {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}
